/*--------------------Mobile First--------------------*/


/*Main for cellphones*/


main{
    width: 90%;
    margin: auto;
}
main section h3{
    margin: 20px 0px;
}
main section .products{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
}
main section article.home-main-article {
    background-color: #fff;
    margin: 5px;
    border-radius: 8px;
}
main section article.home-main-article img{
    width: 100%;
}
main section article.home-main-article .main-description{
    display: block;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;   
}
main section article.home-main-article i {
    display: block;
    font-size: 10px;
    padding: 5px;
    width: 25px;
    height: 25px;
    color: #39b54a;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    top: -12px;
    transform: scale(0.8);
}
main section article.home-main-article .main-description .price-discount{
    display: flex;
}
main section article.home-main-article .main-description .price-discount .price{
    font-size: smaller;
    font-weight: bold;
    padding-right: 10px;  
}
main section article.home-main-article .main-description .price-discount .discount{
    font-size: small;
    font-weight: normal;
    color: #39b54a;     
}
main section article.home-main-article .main-description .description{
    display: block;
    font-size: small;
    font-weight: normal;    
}


/*----------------------Tablet------------------------*/


@media (min-width: 361px){

    /*Main other devices*/    

    main section article.home-main-article{        
        max-width: 48%;
        margin-left: auto;
        margin-right: auto;
    }
    main section article.home-main-article i{        
        transform: scale(1);   
    }    
    
    main section article.home-main-article .main-description .description{
        display: block;
        font-weight: normal;
        font-size: smaller;
        margin-top: 5px;
        color: #666;
    }     
    main section article.home-main-article .main-description .price-discount .price{
        font-size: medium;  
    }
    main section article.home-main-article .main-description .price-discount .discount{
        font-size: smaller;
    }

}


/*----------------------Desktop-----------------------*/


@media (min-width: 769px){

    /*Main for desktops*/
    main section .products{
        height: 500px;      
        padding-bottom: 50px;
        opacity: 1;
        animation: fadeIn 1.5s ease;  
    }
    main section h3{
        opacity: 1;
        animation: fadeIn 1.5s ease;
    }    

    main section article.home-main-article{ 
        max-width: 24%;
        margin-bottom: auto;                
        transition: all 0.1s ease-in-out;
    }
    main section article.home-main-article:hover {
        box-shadow: 10px 8px 10px rgb(100 100 100 / 15%);
        transform: scale(1.07);
        cursor: pointer;
    }
    main section article.home-main-article i{   
        transform: scale(1.4);      
        transition: all 1s ease-in-out;
    }
    main section article.home-main-article i:hover {
        color: #1e7121;
        border: 1px solid #1e7121;
        transform: rotate(
    -90deg
    ) scale(1.4);
    }
    main section article.home-main-article .main-description .description{
        display: none;
        font-size: medium;
        transition: all 0s;
    }
    main section article.home-main-article:hover .main-description .description{
        display: block;
    }      
    main section article.home-main-article .main-description .price-discount .price{
        font-size:large;  
    }
    main section article.home-main-article .main-description .price-discount .discount{
        font-size: medium;
    }
}