@import "home.css";
@import "login.css";
@import "register.css";
@import "header.css";
@import "footer.css";



::placeholder { 
    color: grey;
    font-weight: normal;  
    opacity: 1; 
  }
  
::-ms-input-placeholder { 
    color: grey;
    font-weight: normal; 
}
  
::-ms-input-placeholder { /
    color: grey;
    font-weight: normal; 
}

@keyframes fadeIn{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;    
}

h3{ padding-top: 35px;
    padding-left: 10px;   
    font-size: medium;
    font-weight: normal;
    color: #666;
}

p{
    font-size: 12px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

section.banner img{
    width: 100%;
    opacity: 1;
    animation: fadeIn 1.0s ease;
}




/*tablet*/

@media (min-width: 361px){

    h3{ padding-top: 35px;
        padding-left: 10px;   
        font-size: larger;
        font-weight: normal;
        color: #666;
    } 

}

/*Desktop*/

@media (min-width: 769px){

    h3{ padding-top: 35px;
        padding-left: 10px;   
        font-size: x-large;
        font-weight: normal;
        color: #666;
    }               

}