/* Including one css file into other */
@import "home.css";
@import "login.css";
@import "register.css";
@import "header.css";
@import "footer.css";



/*General*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    font-weight: normal;  
    opacity: 1; /* Firefox */
  }
  
::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: grey;
    font-weight: normal; 
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: grey;
    font-weight: normal; 
}

@keyframes fadeIn{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;    
    /*border: 1px solid red;*/
}

h3{ padding-top: 35px;
    padding-left: 10px;   
    font-size: medium;
    font-weight: normal;
    color: #666;
}

p{
    font-size: 12px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

section.banner img{
    width: 100%;
    opacity: 1;
    animation: fadeIn 1.0s ease;
}




/*-----------------Media Queries-----------------*/
/*--------------------Tablet--------------------*/


@media (min-width: 361px){

    
    /*General for tablets*/ 


    h3{ padding-top: 35px;
        padding-left: 10px;   
        font-size: larger;
        font-weight: normal;
        color: #666;
    } 

}



/*--------------------Desktop--------------------*/


@media (min-width: 769px){


    /*General for desktops*/ 


    h3{ padding-top: 35px;
        padding-left: 10px;   
        font-size: x-large;
        font-weight: normal;
        color: #666;
    }               

}