
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;    
}
/*-------- HOME ------------------*/

h3{ padding-top: 35px;
    padding-left: 10px;   
    font-weight: normal;
    color: #666;
}

p{
    font-size: 12px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

section.banner img{
    width: 100%;
    opacity: 1;
    animation: 1.0s ease-in-out;
}
main{
    width: 90%;
    margin: auto;
}
main section h3{
    margin: 0px 0px;
}
main section .products{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
}
main section article.home-main-article {
    background-color: #fff;
    margin: 5px;
    border-radius: 8px;
    padding-top: 2%;
}
main section article.home-main-article img{
    width: 100%;
}
main section article.home-main-article .main-descripcion{
    display: block;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;   
}
main section article.home-main-article i {
    display: block;
    font-size: 10px;
    padding: 5px;
    width: 25px;
    height: 25px;
    color: #39b54a;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    top: -12px;
    transform: scale(0.8);
}
main section article.home-main-article .main-descripcion .precio-descuento{
    display: flex;
}
main section article.home-main-article .main-descripcion .precio-descuento .precio{
    font-weight: bold;
    padding-right: 10px;  
}
main section article.home-main-article .main-descripcion .precio-descuento .descuento{
    font-weight: normal;
    color: #39b54a;     
}
main section article.home-main-article .main-descripcion .descripcion{
    display: block;
    font-weight: normal;    
}

/*-------- LOGIN ------------------*/
main .login-main{
    display:flex;
    flex-direction: column;
    max-width: 80%;
    margin-top: 40px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;    
}

main .login-main-sendButton{
    display: flex;
    flex-direction: column;
    margin-top: 20px;      
    background-color: transparent;
    border-radius: 5px;
    border-style: none;
    outline: none;
    color: #666;
    padding: 5px;
    font-size: 1em;
    width: 100%;
}
main .login-main-sendButton button.login-main-sendInfo{    
    background-color:cornflowerblue;
    border-style: none;
    outline: none;
    color: whitesmoke;
    padding: 5px;
    font-size: 1em;    
    border-radius: 5px;
    border-style: none;
    outline: none;
    height: 35px;  
}
main .login-main-sendButton button.login-main-newAccount{    
    background-color:transparent;
    border-style: none;
    outline: none;
    color: cornflowerblue;
    padding: 15px;
    font-size: 1em;    
}
main .login-main-buttonHelp{
    display:flex;
    flex-direction: column;
    margin: 10px;
        
}
main .login-main-buttonHelp a{    
    margin: 10px;
    text-align: center;
    text-decoration: none;
    color: grey;
}

/*-------- REGISTER ------------------*/
main .register-main-show{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 20px;  
}
main .register-main-top-label{
    margin-top: 20px;
    margin-bottom: 20px;
}
main .register-main{
    display:flex;
    flex-direction: column;
    max-width: 80%;
}
main .register-main-shadow{
    display: flex;
    flex-direction: column;
}
main .register-main-top-label label{
    font-weight: bolder;
}
main .register-main-form{
    display:flex;
    flex-direction: column;    
}

main .register-main-sendButton{
    margin-top: 20px;    
}
main form article .register-main-label label{
    font-weight: normal;
    margin: auto;
}
main form article .register-main-inputBox{
    padding: 3px;
    width: 100%;
    height: 50%;
    margin: 15px 0px 15px 0px;
    
}
main .register-main-radioOptions{
    display: flex;
    flex-wrap: wrap;

}
main .register-main-profile{
    display: flex;
    margin: 0px 5px 0px 0px;
    padding: 15px 0 15px 0px;
}
main .register-main-profile p{
    padding-left: 5px;
    color: rgb(83, 83, 83);
 
    
}
main .register-main-checkOptions{
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
}
main .register-main-checkbox{
    display: flex;
    margin: 5px 5px 5px 0px;
    padding: 5px 0 5px 0px;
}
main .register-main-checkbox .register-main-checkbox-icon{
    height: 15px;
}
main .register-main-checkbox p{
    padding-left: 5px;
    color: rgb(83, 83, 83)
}
main .register-main-loadPhoto{
    display: flex;
    margin: 15px 0 15px 0;

}
main .register-main-sendButton{
    display: flex;
    justify-content: center;   
    background-color: #4071ca;
    border-radius: 5px;
    border-style: none;
    outline: none;
    color: #666;
    padding: 5px;
    font-size: 1em;
    width: 100%;
}
main .register-main-sendButton button{    
    background-color:cornflowerblue;
    border-style: none;
    outline: none;
    color: whitesmoke;
    padding: 5px;
    font-size: 1em;
    width: 60%;
}
/*-------- HEADER ------------------*/
header{    
    background-color: #EAC926;
    padding: 10px;
}
header .header-top-bar{
    display: flex; 
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;       
}
header .header-top-bar .header-top-left{ 
 
    width: 50%;
    padding: 10px;
}

header .header-top-bar .header-top-form{
    display: flex;
    flex-wrap: nowrap;    
    width: 50%;
    justify-content: center;
    align-items: center; 
}
header .header-top-bar .header-top-form .input{
    background-color: #FFF;
    border-radius: 5px 0px 0px 5px;
    border-style: none;
    outline: none;
    color: black;
    padding: 3px 3px 3px 10px;
    font-size: 0.7em;
    width: 65%;
    height: 40%; 
}
header .header-top-bar .header-top-form .submit{
    background-color: #FFF;
    border-radius: 0px 5px 5px 0px;
    border-style: none;
    color: rgb(207, 207, 207); 
    height: 40%;
    padding-right: 10px;
    transition: all 0.2s;
}
header .header-top-promo-right{
    font-weight: normal;    
    text-align: center;
    margin: auto;
}
header .header-bottom-bar{
    display: none;
}
header .header-bottom-burger-menu{
    text-align: center;
    margin-top: 10px;
}

header .header-bottom-burger-menu i{
    display: block;
    background-color: #0044AA;
    border-radius: 10px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: auto;
    padding: 10px;
    max-width: 40px; 
}

/*-------- FOOTER ------------------*/

footer{
    width: 89%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 15% 0px 15%;
    background-color: whitesmoke;
    text-align: center;
}
footer .foot{
    display: flex;
    flex-direction: column;
    padding: auto; 
}
footer section article .promo p{
    font-size: 1em;
    color: rgb(112, 110, 110);
    padding: 10px;
}
footer section article .promo .fa-footer i{
    background-color: transparent;
    color: #0044AA;
    font-size: 2em;
    height: 40px;
    margin: 60px 0px 0px 0px;
}
footer section .copy{    
    font-size: 0.9em;
    color: rgb(31, 31, 31);
    margin: 100px 0px 40px 0px;
}


/*tablet*/

@media (min-width: 361px){

    h3{ padding-top: 35px;
        padding-left: 10px;   
        font-size: 1.4em;
        font-weight: normal;
        color: rgb(66, 66, 66);
    }
    main .login-main-sendButton button{            
        font-size: 1.2em;
        background-color: transparent;     
    }
    main .login-main-buttonHelp a{
        font-size: medium;
    }
    main section article.home-main-article{        
        max-width: 48%;
        margin-left: auto;
        margin-right: auto;
    }
    main section article.home-main-article i{        
        transform: scale(1);   
    }    
    
    main section article.home-main-article .main-descripcion .descripcion{
        display: block;
        font-weight: normal;
        margin-top: 5px;
        color: rgb(54, 54, 54);
    }     
    main section article.home-main-article .main-descripcion .precio-descuento .precio{
        font-size: 1.2em;  
    }
    main section article.home-main-article .main-descripcion .precio-descuento .descuento{
        font-size: 0.9em;
    }
    header .header-top-bar {                  
        flex-wrap: nowrap;
        justify-content:space-between;
    }
    header .header-top-bar .header-top-left{
        width: 33%;
    }  
    header .header-top-bar .header-top-form{        
        width: 50%;        
    }
    header .header-top-bar .header-top-form .input{        
        font-size: 0.9em;
    }
    header .header-top-bar .header-top-form .submit i{
        font-size: 1.2em;
    }        
    header .header-top-promo-right{  
        text-align: right;
        width: 30%;        
    }    
    header .header-bottom-bar{
        display: block;
        margin: auto;
        max-width: 100%;
    }
    header .header-navbar-main{
        display: flex;
        justify-content: space-between;
        font-size: 12px;
    }
    header .header-bottom-navbar-left{
        display: flex;
        max-width: 50%;
    }
    header .header-bottom-navbar-right{
        display: flex;
        max-width: 50%;
    }
    header ul li{
        display: flex;
        flex-wrap: nowrap;
        justify-content:space-evenly;
        list-style-type: none;
        padding: 5px;     
        margin: auto;
    }    
    header ul li a{    
        text-decoration: none;
        color: #1d2c50;
        padding: 5px 0;
        text-align: center;        
    }
    header ul li a:hover{    
        color: #223e80;
    }          
    header .header-bottom-burger-menu{
        display: none;
    }
       
    main .register-main-top-label label{
        font-size: 1.5em;
        font-weight: bold;
        margin: auto;        
    }    
    main .register-main-text{
        transform:scale(0.9);
    }
    main .register-main p{
        font-size: 1.2em;
    }    
    main form article .register-main-inputBox{
        font-size: 1.4em;
        font-weight: bold;
    }
    main form article .register-main-label label{
        font-size: .9em;
        font-weight: normal; 
        margin: auto;
    }
    main .register-main-loadPhoto{        
        font-size: .9em;        
    }
    main .register-main-sendButton button{            
        font-size: 1.2em;
        background-color: transparent;     
    }
    main .register-main-checkbox input{        
        width: 1.2em;
    }
    footer section article .promo .fa-footer i{
        transform: scale(1.2);
    }   

}

/*Desktop*/

@media (min-width: 769px){

    h3{ padding-top: 35px;
        padding-left: 10px;   
        font-weight: normal;
        color: rgb(0, 0, 0);
        padding-bottom: 15px;
    }
    main .login-main-sendButton button.login-main-sendInfo{    
        background-color:#4071ca;
        border-style: none;
        outline: none;
        color: whitesmoke;
        padding: 5px;
        font-size: 1em;    
        border-radius: 5px;
        border-style: none;
        outline: none;
    }        
    main .login-main-sendButton .login-main-sendInfo{
        transition: all 0.3s;
    }
    main .login-main-sendButton .login-main-buttonHelp{
        flex-direction: row; 
        justify-content: space-between;
        margin-top: 30px;  
    }    
    main .login-main-sendButton .login-main-buttonHelp-left{
        transition: all 0.3s;
    } 
    main .login-main-sendButton .login-main-buttonHelp-right{
        transition: all 0.3s;
    }  

    main .login-main-sendButton .login-main-sendInfo:hover{            
        background-color: #0022AA;
        cursor:pointer;
    }
    main .login-main-sendButton .login-main-buttonHelp-left:hover{            
        color: #2648ce;
        cursor:pointer;
    }
    main .login-main-sendButton .login-main-buttonHelp-right:hover{            
        color: #2648ce;
        cursor:pointer;
    }    
    main .login-main-sendButton button{            
        font-size: 8em;
        font-weight: 500;
        cursor: pointer;
    }
    main .login-main-buttonHelp a{
        font-size: 1em;
    }
    main section .products{
        padding-bottom: 50px;
        opacity: 1;
        animation: 1.5s ease-in-out;  
    }
    main section h3{
        opacity: 1;
        animation: 1.5s ease-in-out;
    }    

    main section article.home-main-article{ 
        max-width: 24%;
        margin-bottom: auto;                
    }
   
    main section article.home-main-article i{   
        transform: scale(1.4);      
        transition: all 1s ease-in-out;
    }
    main section article.home-main-article i:hover {
        color: #1e7121;
        border: 1px solid #1e7121;
        transform: rotate(
    -90deg
    ) scale(1.4);
    }
    main section article.home-main-article .main-descripcion .descripcion{
        display: none;
        font-size: medium;
        transition: all 0s;
    }
    main section article.home-main-article:hover .main-descripcion .descripcion{
        display: block;
    }      
    main section article.home-main-article .main-descripcion .precio-descuento .precio{
        font-size:1.4em;  
    }
    main section article.home-main-article .main-descripcion .precio-descuento .descuento{
        font-size: 1.2em;
    }
    header .header-top-bar{
        max-width: 80%;
    }
    header .header-top-bar .header-top-form .input{        
        font-size: 1.2em;
    }
    header .header-top-bar .header-top-form .submit i{
        font-size: 1.4em;
        cursor: pointer;
    }
    header .header-top-bar .header-top-form:hover .submit{
        color: #535353;
    }   
    header .header-bottom-bar{
        max-width: 80%;
    }
    header .header-top-bar .header-top-left .header-logo{        
        width: 60%; 
        cursor: pointer;            
    }
    
    header ul li{
        padding: 10px 15px 10px 15px;
    }    
    header ul li a{    
        font-size:1.3em;        
        transition: all 0.1s ease-in-out;        
    }
    header ul li a:hover{      
        color: rgb(45, 47, 129);
        font-weight: 700;
        cursor: pointer;        
    }
    main .register-main-shadow {
        padding: 2%;
    }
    main .register-main{  
        width: 40%;
        opacity: 1;
        animation: 1.5s ease-in-out;          
    }
    
    main .register-main-top-label{
        opacity: 1;
        animation: 1s ease-in-out;
    }
    
    main .register-main-text{
        transform:scale(0.9);
    }
    main .register-main-article{
        margin-top: 20px;
    }
    main .register-main-checkbox input{        
        width: 2em;
        height: 20px;
    }
   
    main .register-main-profile input{
        width: 2em;
        height: 20px;
    }
    
    main form article .register-main-inputBox{   
        font-size: 1.2em;
        font-weight: bold;     
        transition: width .2s ease, border-color .2s ease;
    }
    main form article .register-main-inputBox:hover{
        border-color: #0044AA;
    }
    main form article .register-main-inputBox:focus{
        border-color: #0044AA;
    }
    main .register-main-sendButton button{            
        font-weight: 500;
        cursor: pointer;
    }
    main form article .register-main-label label{
        font-size: 1.2em;
        font-weight: normal;        
    }
   
    main .register-main-sendButton{
        transition: all 0.3s;
    } 

    main .register-main-sendButton:hover{            
        background-color: #0022AA;
        cursor:pointer;
    }
    main .register-main-sendButton button:hover{            
        background-color: transparent;
        cursor:pointer;        
    }
    footer{    
        width: 89%;
        padding: 0px 0 0px 0;
        background-color: #ffffff00;
        text-align: none;
    }
    footer .foot{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: auto;
    }
    footer .copy{    
        font-size: 0.9em;
        color: rgb(61, 61, 61);
        padding: 150px 0px 20px 0px;
    }
    footer section article .promo .fa-footer i{
        transform: scale(1.4);
        transition: 0.2s;
    }
    footer section article .promo .fa-footer i:hover {
        background-color: transparent;
        color: #0c2161;
        font-size: 2em;
        height: 40px;
        margin: 60px 0px 0px 0px;
    }                         

}